<div class="jumbotron">
  <h1>FastFood.me </h1>
  <p class="lead">
    Nutritional analysis of fast food menus.
    <br></br>
    <img src="img/food-icon.png" alt="Yum!"><br>
  </p>
  <p>I want to view the 
    <select>
      <option value="McDonalds">McDonalds</option>
      <option value="Carls Jr">Carls Jr</option>
      <option value="Subway">Subway</option>
      <option value="Chipotle">Chipotle</option>
    </select> 
    menu </p>
</div>

<div class="footer">
  <p>Based on <a href="http://www.eatthismuch.com">www.eatthismuch.com</a></p>
</div>